<%- include('components/_headContent.htm', {
	lang: 'en',
	title: 'Detail',
	preloadedFontName: 'Ambit-Regular',
}) %>

<%- include('components/_connectModules.htm', { modules: {
	burgerMenu: true,
	submenu: true,
	parallax: true,
	tabs: true,
}}) %>

<!-- /-/ Stylesheets and scripts for this page -->
<link rel="stylesheet" href="libs/swiper-bundle.min.css">
<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/detail.css">
<link rel="stylesheet" href="styles/modules/submenu.css">
<script type='module' src='scripts/sliders.js'></script>
</head>

<body>
  <img src="img/bg-detail.jpg" id='background'>

  <div class='main-page-wrapper'>
    <aside class='aside aside__left'>
      <div class="aside__map _contain-img">
        <img src="img/Brazil_Blank_Map.svg" alt='title of map'>
      </div>
    </aside>

    <div class="content">
      <%- include('_header.htm') %>

      <main class='main detail'>
        <p class='detail__uptext'>
          Nueva Loja
        </p>
        <h1 class='main__title detail__title'>
          5 Day Cuyabeno Adventure
          <img src="img/star-detail-1.svg" class='decor-star' id='star-detail-1'>
        </h1>
        <p class="detail__text main__text">
          Start and end in Nueva Loja! With the Adventure tour 5 Day Amazon Cuyabeno Adventure, you have a 5 days tour package taking you through Nueva Loja, Ecuador and Cuyabeno Wildlife Preserve
        </p>

        <div class='detail__days-wrapper'>
          <div class='swiper detail__days-slider'>
            <ol class='swiper-wrapper detail__days'>
              <li class='swiper-slide'>
                <div class='detail__day day'>
                  <p class="day__title">
                    Arrival to Cuyabeno
                  </p>
                  <p class="day__text">
                    Today, your Amazon Cuyabeno Adventure starts. You can take a flight (9:15 am) or take a bus to the Cuyabeno which is the starting point of the tour.
                  </p>
                </div>
              </li>
              <li class='swiper-slide'>
                <div class='detail__day day'>
                  <p class="day__title">
                    Arrival to Cuyabeno
                  </p>
                  <p class="day__text">
                    Today, your Amazon Cuyabeno Adventure starts. You can take a flight (9:15 am) or take a bus to the Cuyabeno which is the starting point of the tour.
                  </p>
                </div>
              </li>
              <li class='swiper-slide'>
                <div class='detail__day day'>
                  <p class="day__title">
                    Arrival to Cuyabeno
                  </p>
                  <p class="day__text">
                    Today, your Amazon Cuyabeno Adventure starts. You can take a flight (9:15 am) or take a bus to the Cuyabeno which is the starting point of the tour.
                  </p>
                </div>
              </li>
            </ol>
          </div>
        </div>


        <div class='detail__controls'>
          <div class='card active'>
            <p class="card__country">
              Brazil
            </p>
            <p class="card__discovery-point">
              Amazon Rainforest
            </p>
            <p class="card__price">
              £1,800
            </p>
          </div>
          <div class='detail__buttons'>
            <a href='index.html' class="cool-btn cool-btn__reverse">
              <div class="cool-btn__arrow">
                <svg width="60" height="6" viewBox="0 0 60 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.848145 2.5H0.348145V3.5H0.848145V2.5ZM59.8481 3L54.8481 0.113249V5.88675L59.8481 3ZM0.848145 3.5H55.3481V2.5H0.848145V3.5Z" fill="white" />
                </svg>
              </div>

              <span class="cool-btn__text">Back</span>
            </a>
            <a href='#' type="button" class="cool-btn">
              <span class="cool-btn__text">Book</span>

              <div class="cool-btn__arrow">
                <svg width="60" height="6" viewBox="0 0 60 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.848145 2.5H0.348145V3.5H0.848145V2.5ZM59.8481 3L54.8481 0.113249V5.88675L59.8481 3ZM0.848145 3.5H55.3481V2.5H0.848145V3.5Z" fill="white" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

<script type="module" src='./scripts/submenu.js'></script>

</html>
<!-- Made in Russia, with ❤, by Ivan Ulyanov. -->